In [1]:
# API key ID: otlwwfxero72fkms03hi49x2
# API key secret: 5qbnpzqphl1y8bz6eggxraxlzlnbnhso49bro4925r1rpxj6sn
# app token: 8y23ArYxg4pcvOMgWzMFSC0nB
# secret app token: pZgwEL4lKm2r1s868Saz3EJ1ebpTKy-FzglU

# crime data docs: https://dev.socrata.com/foundry/data.cityofchicago.org/9hwr-2zxp

# make sure to install these packages before running:
!pip install pandas
!pip install sodapy

Requirement already satisfied: pandas in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sodapy in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2022.6.15)

In [2]:
import pandas as pd
import sodapy
from sodapy import Socrata

In [3]:
# crime_url = "https://data.cityofchicago.org/resource/9hwr-2zxp.json"


app_token = "8y23ArYxg4pcvOMgWzMFSC0nB"

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.cityofchicago.org",
                 app_token, 
                 username="ch35@illinois.edu",
                 password="68M8rz3vF!StBjD")


# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9hwr-2zxp", limit = 2000)

# Convert to pandas DataFrame
crime_df = pd.DataFrame.from_records(results)

print(crime_df.shape)

(2000, 22)

In [4]:
crime_df.head()

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,...,ward,case_number,year,domestic,fbi_code,longitude,beat,primary_type,arrest,id
0,2022-11-09T23:45:00.000,"{'latitude': '41.965248711', 'human_address': ...",017,046XX N FRANCISCO AVE,1930561,41.965248711,OVER $500,STREET,2022-11-16T15:51:52.000,14,...,33,JF469910,2022,False,06,-87.701037211,1713,THEFT,False,12888758
1,2022-11-09T23:45:00.000,"{'latitude': '41.853718318', 'human_address': ...",012,021XX S WOOD ST,1889981,41.853718318,AGGRAVATED - HANDGUN,APARTMENT,2022-11-16T15:51:52.000,31,...,25,JF468923,2022,False,04B,-87.670980997,1234,BATTERY,False,12888055
2,2022-11-09T23:30:00.000,"{'latitude': '41.772532392', 'human_address': ...",003,067XX S JEFFERY BLVD,1860610,41.772532392,AUTOMOBILE,STREET,2022-11-16T15:51:52.000,43,...,5,JF469056,2022,False,07,-87.57646936,0331,MOTOR VEHICLE THEFT,False,12888163
3,2022-11-09T23:30:00.000,"{'latitude': '41.885325435', 'human_address': ...",001,001XX N STATE ST,1901592,41.885325435,SIMPLE,SIDEWALK,2022-11-16T15:51:52.000,32,...,42,JF468948,2022,False,08B,-87.627930066,0111,BATTERY,False,12888071
4,2022-11-09T23:26:00.000,"{'latitude': '41.93939819', 'human_address': '...",017,027XX W BELMONT AVE,1921150,41.93939819,DOMESTIC BATTERY SIMPLE,APARTMENT,2022-11-16T15:51:52.000,21,...,33,JF468940,2022,True,08B,-87.696562292,1733,BATTERY,True,12888129

In [5]:
month = [i[0:7] for i in crime_df.date]

In [6]:
crime_df["month"] = month

In [7]:
crime_agg = crime_df.groupby(by=month).size()
crime_sum = crime_df.groupby(by=month).sum()

In [ ]:
crime_agg

In [ ]:
crime_sum

In [8]:
# temp
crime_df.columns

Index(['date', 'location', 'district', 'block', 'y_coordinate', 'latitude',
       'description', 'location_description', 'updated_on', 'community_area',
       'iucr', 'x_coordinate', 'ward', 'case_number', 'year', 'domestic',
       'fbi_code', 'longitude', 'beat', 'primary_type', 'arrest', 'id',
       'month'],
      dtype='object')

In [10]:
crime_df.info()
crime_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2000 non-null   object
 1   location              1962 non-null   object
 2   district              2000 non-null   object
 3   block                 2000 non-null   object
 4   y_coordinate          1962 non-null   object
 5   latitude              1962 non-null   object
 6   description           2000 non-null   object
 7   location_description  1992 non-null   object
 8   updated_on            2000 non-null   object
 9   community_area        2000 non-null   object
 10  iucr                  2000 non-null   object
 11  x_coordinate          1962 non-null   object
 12  ward                  2000 non-null   object
 13  case_number           2000 non-null   object
 14  year                  2000 non-null   object
 15  domestic              2000 non-null   bool
 16  fbi_code              2000 non-null   object
 17  longitude             1962 non-null   object
 18  beat                  2000 non-null   object
 19  primary_type          2000 non-null   object
 20  arrest                2000 non-null   bool
 21  id                    2000 non-null   object
 22  month                 2000 non-null   object
dtypes: bool(2), object(21)
memory usage: 332.2+ KB

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,...,case_number,year,domestic,fbi_code,longitude,beat,primary_type,arrest,id,month
0,2022-11-09T23:45:00.000,"{'latitude': '41.965248711', 'human_address': ...",017,046XX N FRANCISCO AVE,1930561,41.965248711,OVER $500,STREET,2022-11-16T15:51:52.000,14,...,JF469910,2022,False,06,-87.701037211,1713,THEFT,False,12888758,2022-11
1,2022-11-09T23:45:00.000,"{'latitude': '41.853718318', 'human_address': ...",012,021XX S WOOD ST,1889981,41.853718318,AGGRAVATED - HANDGUN,APARTMENT,2022-11-16T15:51:52.000,31,...,JF468923,2022,False,04B,-87.670980997,1234,BATTERY,False,12888055,2022-11
2,2022-11-09T23:30:00.000,"{'latitude': '41.772532392', 'human_address': ...",003,067XX S JEFFERY BLVD,1860610,41.772532392,AUTOMOBILE,STREET,2022-11-16T15:51:52.000,43,...,JF469056,2022,False,07,-87.57646936,0331,MOTOR VEHICLE THEFT,False,12888163,2022-11
3,2022-11-09T23:30:00.000,"{'latitude': '41.885325435', 'human_address': ...",001,001XX N STATE ST,1901592,41.885325435,SIMPLE,SIDEWALK,2022-11-16T15:51:52.000,32,...,JF468948,2022,False,08B,-87.627930066,0111,BATTERY,False,12888071,2022-11
4,2022-11-09T23:26:00.000,"{'latitude': '41.93939819', 'human_address': '...",017,027XX W BELMONT AVE,1921150,41.93939819,DOMESTIC BATTERY SIMPLE,APARTMENT,2022-11-16T15:51:52.000,21,...,JF468940,2022,True,08B,-87.696562292,1733,BATTERY,True,12888129,2022-11

In [11]:

crime_df[["district", "y_coordinate", "latitude", "community_area", "x_coordinate", "ward", "longitude", "beat"]] = crime_df[["district", "y_coordinate", "latitude", "community_area", "x_coordinate", "ward", "longitude", "beat"]].apply(pd.to_numeric)
crime_df[["district", "y_coordinate", "latitude", "community_area", "x_coordinate", "ward", "longitude", "beat"]].describe()

,district,y_coordinate,latitude,community_area,x_coordinate,ward,longitude,beat
count,2000.000000,1.962000e+03,1962.000000,2000.000000,1.962000e+03,2000.000000,1962.000000,2000.000000
mean,11.205000,1.886039e+06,41.842867,36.307500,1.165565e+06,22.746500,-87.667954,1143.284500
std,7.051939,3.226162e+04,0.088719,21.416192,1.631431e+04,14.211975,0.059375,705.713235
min,1.000000,1.815117e+06,41.647922,1.000000,1.100317e+06,1.000000,-87.906463,111.000000
25%,5.000000,1.858020e+06,41.765681,23.000000,1.154008e+06,9.000000,-87.709992,524.000000
50%,10.000000,1.892107e+06,41.859714,32.000000,1.167543e+06,23.000000,-87.660847,1031.000000
75%,17.000000,1.909533e+06,41.907541,53.000000,1.177271e+06,34.000000,-87.625432,1724.000000
max,25.000000,1.951318e+06,42.022063,77.000000,1.204544e+06,50.000000,-87.527258,2535.000000