In [1]:
# API key ID: otlwwfxero72fkms03hi49x2
# API key secret: 5qbnpzqphl1y8bz6eggxraxlzlnbnhso49bro4925r1rpxj6sn
# app token: 8y23ArYxg4pcvOMgWzMFSC0nB
# secret app token: pZgwEL4lKm2r1s868Saz3EJ1ebpTKy-FzglU

# crime data docs: https://dev.socrata.com/foundry/data.cityofchicago.org/9hwr-2zxp

# make sure to install these packages before running:
!pip install pandas
!pip install sodapy

Requirement already satisfied: pandas in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting sodapy
  Using cached sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.28.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2022.6.15)
Installing collected packages: sodapy
Successfully installed sodapy-2.2.0

In [2]:
import pandas as pd
import sodapy
from sodapy import Socrata

In [3]:
# crime_url = "https://data.cityofchicago.org/resource/9hwr-2zxp.json"


app_token = "8y23ArYxg4pcvOMgWzMFSC0nB"

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.cityofchicago.org",
                 app_token, 
                 username="ch35@illinois.edu",
                 password="68M8rz3vF!StBjD")


# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9hwr-2zxp", limit = 200000)

# Convert to pandas DataFrame
crime_df = pd.DataFrame.from_records(results)

print(crime_df.shape)

(199469, 22)

In [4]:
crime_df.head()

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,...,ward,case_number,year,domestic,fbi_code,longitude,beat,primary_type,arrest,id
0,2022-11-06T23:50:00.000,"{'latitude': '41.771617449', 'human_address': ...",007,067XX S MAY ST,1860102,41.771617449,SIMPLE,APARTMENT,2022-11-13T15:50:21.000,68,...,16,JF465139,2022,True,08A,-87.653078914,0724,ASSAULT,True,12884832
1,2022-11-06T23:49:00.000,"{'latitude': '41.841270708', 'human_address': ...",009,027XX S ASHLAND AVE,1885456,41.841270708,OTHER VEHICLE OFFENSE,STREET,2022-11-13T15:50:21.000,31,...,25,JF465156,2022,False,26,-87.665828442,0913,OTHER OFFENSE,True,12884814
2,2022-11-06T23:47:00.000,"{'latitude': '41.936082277', 'human_address': ...",025,030XX N KNOX AVE,1919851,41.936082277,TO PROPERTY,RESIDENCE,2022-11-13T15:50:21.000,19,...,31,JF465153,2022,False,14,-87.743131987,2521,CRIMINAL DAMAGE,False,12884885
3,2022-11-06T23:45:00.000,"{'latitude': '41.752764973', 'human_address': ...",004,078XX S JEFFERY BLVD,1853408,41.752764973,TO VEHICLE,STREET,2022-11-13T15:50:21.000,43,...,8,JF465179,2022,False,14,-87.576012647,0414,CRIMINAL DAMAGE,False,12884862
4,2022-11-06T23:43:00.000,"{'latitude': '41.711829011', 'human_address': ...",022,100XX S GREEN ST,1838335,41.711829011,DOMESTIC BATTERY SIMPLE,RESIDENCE,2022-11-13T15:50:21.000,73,...,34,JF466483,2022,True,08B,-87.64417619,2232,BATTERY,False,12885946

In [5]:
month = [i[0:7] for i in crime_df.date]

In [6]:
crime_df["month"] = month

In [7]:
crime_agg = crime_df.groupby(by=month).size()
crime_sum = crime_df.groupby(by=month).sum()

In [8]:
crime_agg

2022-01    15449
2022-02    15121
2022-03    18201
2022-04    17803
2022-05    19956
2022-06    20493
2022-07    21993
2022-08    21937
2022-09    21879
2022-10    22362
2022-11     4275
dtype: int64

In [9]:
crime_sum

         domestic  arrest
2022-01      3169    1721
2022-02      2922    2082
2022-03      3517    2204
2022-04      3601    2306
2022-05      3927    2745
2022-06      3950    2414
2022-07      3897    2280
2022-08      3860    2297
2022-09      3519    2198
2022-10      3455    1976
2022-11       651     371

In [11]:
# temp
crime_df.columns

Index(['date', 'location', 'district', 'block', 'y_coordinate', 'latitude',
       'description', 'location_description', 'updated_on', 'community_area',
       'iucr', 'x_coordinate', 'ward', 'case_number', 'year', 'domestic',
       'fbi_code', 'longitude', 'beat', 'primary_type', 'arrest', 'id',
       'month'],
      dtype='object')